/* body{
    background-color: white;
}
h1,p{
    background-color: yellow;
}
#healine{
    color:bisque;
}
*div p{
    background-color: red;
    color:white;
} */
/* div>p{
    background-color: red;
} */
/* div+p{
    background-color:red;
} */
